@import url("http://fonts.cdnfonts.com/css/bahnschrift");
:root {
  --withe-color: rgba(255, 255, 255, 0.9);
  --gray-color:#707070;
  --black-color: rgba(22, 35, 40);
  --green-color: rgba(63, 192, 96);
  --black_lite-color:#707070;
  --form-color: rgb(233, 233, 233);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bahnschrift , sans-serif;
  --form-color: rgb(233, 233, 233);
  text-decoration: none;

}
html{
  scroll-behavior: smooth;
}
/* ____________jamal start sign in Page________________ */

.container-all .navbar-home-login {
  justify-content: space-between;
  background: var(--black-color);
  color: var(--withe-color);
}
.container-all .navbar-home-login a {
  color: var(--withe-color);
}
.container-all .navbar-home-login > .logo > h2 {
  display: block;
  font-size: 2rem;
  letter-spacing: 2px;
}
.container-all .navbar-home-login > .logo > h2 > span {
  color: var(--green-color);
}
.parent_page_signup{
  height:100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.p_signup {
  padding: 10px;
  background-image: url("images/back8.svg"), url("images/back9.svg");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
}
.p_signup .tl_signup {
  color: var(--black-color);
  grid-column: 2/4;
  margin-left: 20px;
}
.tl_signup h3 {
  font-size: 3rem;
}
/* __________fin logo */

/* _____________container */
.cotnr_info {
  padding-top: 10px;
  border: 1.5px solid var(--green-color);
  border-radius: 10px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 265px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 70px;
  width: 83%;
  gap: 10px;
  z-index: 5;
}
.img_persent {
  background-image: url("images/back_prs.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-row: 1/7;
}

.radio {
  grid-column: 2/4;
}
.f_name .into,
.l_name .into,
.email .into,
.pass .into,
.c_pass .into {
  display: flex;
  flex-direction: column;
  gap: 6px 10px;
  font-size: 17px;
  padding-left: 20px;
}
.f_name .into input,
.l_name .into input,
.email .into input,
.pass .into input,
.c_pass .into input {
  border: 2px solid var(--green-color);
  width: 96%;
  height: 40px;
  border-radius: 6px;
  padding: 6px;
}
.email .into input {
  width: 98%;
}

.pass {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.radio .form1 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-size: 14px;
  color: rgb(122, 122, 122);
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 88%;
  padding-left: 20px;
}
.email {
  grid-column: 2/4;
}
.submit {
  grid-column: 2/4;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 60px;
}

.radio .year {
  margin-top: 10px;
  font-size: 17px;
  padding-left: 20px;
}
.submit a {
  width: 150px;
  height: 36px;
  padding: 7px 41px;
  background-color: var(--green-color);
  color: white;
  border: 1px solid var(--green-color);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}
/* ____________________jamal start page INGREDIENTS  */
.ingr_page {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  bottom: 10px;
  background-image:url(./images/backPop-Up.png);
  background-size:cover; 
}
.ingr_ctnr {
  background-color: white;
  border: 0.3px solid var(--black-color);
  border-radius: 7px;
  width: 40%;
  height: 88%;
  margin-bottom: 10px;
  position: relative;
  padding: 0px 6px;
  overflow-y: scroll;
}
.ingr_ctnr::-webkit-scrollbar {
  width: 0;
}

.ingr_ctnr .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.ingr_ctnr .nav .img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 21px;
}
.ingr_ctnr .nav .tl_plat {
  color: var(--green-color);
  font-size: 20px;
}
.ingr_plat {
  display: flex;
  justify-content: center;
}
.ingr_plat img {
  width: 100%;
  height: 170px;
}

.ing_form {
  margin-top: 8px;
}

.ing_form h3 , .ing_form p{
  color: var(--green-color);
  font-weight: 400;
  font-size: 25px;
  margin-top: 7px;
}
.ing_form .p_write{
  font-size: 18px;
}
.ing_form .h3_ing{
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 25px ; 
}

.ing_form .h3_ing span{
  font-size: 22px ; 
  margin-left: 4px;
}


.all_check {
  display: flex;
  align-items: center;
  gap: 1px;
  padding-left:10px; 
}

.all_check label {
  font-size: 13px;
  color: var(--black-color);

}

.check8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 10px;
}

.check8 input {
  width: 99%;
  height: 60px;
  border: 1.4px solid var(--black-color);
  border-radius: 5px;
}
.check9 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.check9 input {
  height: 27px;
  width: 85px;
  font-size: 20px;
  font-weight: bold;
  color: var(--withe-color);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 5px;
  position: fixed;
  bottom: 20px;

}

/* ______________jamal end page INGREDIENTS______________________*/
/* ________________jamal start dashbord___________________ */
.body_dashbord{
  background-color:#E9E9E9;
  width:100%;
  overflow-x: scroll;
  display: grid;
  padding-bottom: 50px; 
}
.wlcm_ad{
  display:flex;
  justify-content:flex-end;
  font-size: 14px;
  gap: 10px;
}
.wlcm_ad .wlcm{
   color: var(--green-color);
}
.titl_logo{
  
  color:var(--green-color);
  display:flex;
  align-items:center;
  gap:2px;
  /* margin-left:5%; */
  font-size:22px; 
} 
.titl_logo .logo ,.titl_logo .title , .titl_logo p{
  font-weight:100;
}
.titl_logo .logo span {
  color:var(--black-color);
} 
.titl_logo p{
  font-size: 25px;
  color:var(--black_lite-color);
}  
.parent_sort{
  height:150px;
}

.parent_fix{
  display:grid;
  grid-template-columns: 0.7fr 1fr;
  height: 100px;
}
.sort_form{
  display: grid;
  grid-template-columns: 60px 155px 1fr;
  align-items:center;
  justify-items:center;
  
}
.sort_form .label_opt{
  color: var(--black-color);
  font-weight:500;
}
.sort_form .opt{
  height: 30px;
  width: 153px;
  border: 2px solid #948989;
  border-radius: 4px;
  background: none;
  padding-left:6px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}

/* .sort_form .label_opt, .sort_form .opt{
} */
.parent_search{
  justify-self: end;
  display: flex ;
  align-items: center;
  gap: 8px;

}
.parent_search .btn_search {
  background-color:var(--green-color);
  text-decoration: none;
  border: 2px solid var(--green-color);
  border-radius: 10px;
  color:var(--withe-color);
  height: 27px;
  width: 60px;
  }
.parent_search .txt_search{
  background: none;
  border: 2px solid var(--black_lite-color);
  border-radius:14px;
  height:30px;
  padding-left:6px;
}

/* ____listplat____ */

.days h3{
  font-weight:100;
  color: var(--black-color);
  font-size:20px;
  margin-bottom: 5px;
}

/* .first_row{
  width:100%;
} */

.parent_list_plat , .parent_sort{
  padding-right: 20px;
  padding-left: 20px;
}

.list_plat{
  height: max-content;
  
  display:grid;
  grid-template-columns: 110px 150px 1fr; 
  grid-template-rows: 30% 70%;
  background-color: var(--withe-color);
  padding:10px 0 10px 10px;
  box-shadow: 1px 1px 7px rgb(0 0 0 / 50%);

}
.list_plat .img{
  grid-row: 1/3;
  display:flex;
  align-items: center;
}
.list_plat .img img{
  width:100px;
}

.description_plat{
  border-right:1px solid var(--black_lite-color);
  height: 126px;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  
}

.description_plat p{
  margin-top:10px;
  font-size: 11px;
  color: var(--black_lite-color);
}
.description_plat h4{
  font-size: 13px;
  font-weight: 100;
  color: var(--black-color);
}

/* _______ */
.info_plat{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 88px 39px;
  align-items: center;
  justify-items: center;
}
.info_plat .all_info{ 
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  color:var(--black_lite-color);
}
.all_info h4{
  font-size: 20px;
  font-weight: 100;
}
.info_plat .stars_img{
  width:130px;
}


.info_plat .parent_icons{
  grid-column:1/4;
  display:flex;
  flex-direction: row-reverse;
  justify-content:end;
  gap: 10px;
  width:100%;
  height: 100%;
  align-items: center;
  padding-right: 22px;
  border-top: 1px solid var(--black_lite-color);

}

.info_plat .parent_icons img{
  width:20px;
  height: 20px;
}

/* ____ */
.first_row{
  margin-top:30px;
}
.secound_row{
  margin-top:10px;
}


/* ______________jamal end dashbord__________________________ */

/* __________________________jamal start page manager__________ */
.parent_sort_manager{
  box-shadow: 0px 4px 15px rgb(0 0 0 / 19%);
     
}

.manager_users{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:35px;
  margin-top:60px;
  background-image: url(./images/Ellipse.svg), url(./images/Ellipse.svg) ,url(./images/Ellipse.svg),url(images/Objects.svg) ,url(images/Objects.svg), url(./images/Objects.svg), url(./images/Objects.svg);
  background-repeat:no-repeat; 
  background-size: 24px;
  background-position:91% 17% ,6% 40% ,93% 70%,7% 90%  ,6% 20% ,4% 60% ,96% 45%;
} 
.prnt_user_img {
  display:flex;
  justify-content:space-between;
  width:70%;
  height: 200px;
  padding:15px 20px 15px 20px;
  border:1.5px solid var(--green-color);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.247);

}
.prnt_user_img div{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.prnt_user_img img{ 
  width:115px;
}
.prnt_user_img h4{
  color:var(--green-color);
  font-size:25px;
  font-weight: 500;
  padding-top: 12px ;
}

.prnt_user_img .p_230{
  color:var(--black_lite-color);
}
.container_all_users ::-webkit-scrollbar{
  width:0;
}

.container_all_users{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border:1.5px solid var(--black-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.247);
  border-radius: 6px;
  width:80%;
  gap:10px;
  padding-bottom: 10px;
}
.container_all_users .txt_all_users{
  height:100px;
  display:flex;
  align-items: center;
  justify-content:center;
}
.container_all_users .txt_all_users h3{
  font-size: 30px;
  color:var(--black_lite-color);
}
.manager_info_user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  border:2px solid var(--green-color);
  height: 60px;
}
.manager_img_name_user {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  margin-left: 4px;
  width:150px; 
}

.manager_img_edt_user {
  width:150px;
  display:flex ;
  justify-content:space-around;
}
.manager_img_accepte_user{
  justify-content:center;
  gap: 16px;
  padding: 12px;
}
.manager_img_name_user img{
  width:30px;
}
.manager_img_edt_user img{
  width: 20px;
}

/* _______________________jamal end page manager___________ */


@media only screen and (max-width: 760px) {
  .parent_fix{
    grid-template-rows: 82px 63px;
  }
  .sort_form{
    grid-row: 2/3;
    grid-column:1/3;
  }
  .p_signup{
    margin-top:30px;
    background-image:url(images/Objects.svg) ,url(./images/Ellipse.svg) ,url(./images/Ellipse.svg) ,url(./images/Ellipse.svg);
   }
.p_signup {
    margin-top: 30px;
    background-image: url(images/Objects.svg), url(./images/Ellipse.svg),
      url(./images/Ellipse.svg), url(./images/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: 40px, 20px, 20px, 20px;
    background-position: 90% 0%, 95% 30%, 2% 50%, 94% 94%;
  } 

  .cotnr_info {
    color: var(--black-color);
    display: grid;
    grid-template-rows: repeat(8, 70px);
    width:97%;
    border: none;
    
  }
  .img_persent {
    display: none;
  }
  .p_signup .tl_signup {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
  }
  .f_name {
    grid-row: 2/3;
    grid-column: 1/5;
    margin-left: 20px;
  }
  .l_name {
    grid-row: 3/4;
    grid-column: 1/4;
    margin-left: 20px;
  }
  .radio {
    grid-row: 4/5;
    grid-column: 1/4;
    width: 100%;
    margin-left: 20px;
  }
  .email {
    grid-row: 5/6;
    grid-column: 1/4;
    margin-left: 20px;
  }
  .pass {
    grid-row: 6/8;
    grid-column: 1/4;
    margin-left: 20px;
  }
  .fpass {
    grid-row: 6/7;
    grid-column: 1/4;
    margin-top: 7px;
  }
  .c_pass {
    grid-row: 7/8;
    grid-column: 1/4;
    margin-top: 17px;
  }

  .email {
    grid-row: 5/6;
    grid-column: 1/4;
    margin-left: 20px;
  }
  .pass {
    grid-row: 6/8;
    grid-column: 1/4;
    margin-left: 20px;
  }
  .fpass {
    grid-row: 6/7;
    grid-column: 1/4;
    margin-top: 7px;
  }
  .c_pass {
    grid-row: 7/8;
    grid-column: 1/4;
    margin-top: 17px;
  }
  .submit {
    grid-row: 8/9;
    grid-column: 1/4;
    width: 100%;
    margin-left: 20px;
  }

  .f_name form input,
  .l_name form input,
  .email form input,
  .pass form input,
  .c_pass form input {
    border: 2px solid var(--green-color);
    width: 90%;
    height: 40px;
    border-radius: 6px;
    padding: 6px;
    align-items: center;
  }
  .f_name form input {
    width: 88%;
  }
  .radio .form1 {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .email form {
    margin-top: 10px;
  } 

  .f_name .into input,
  .l_name .into input,
  .email .into input,
  .pass .into input,
  .c_pass .into input {
    border: 2px solid var(--green-color);
    width: 90%;
    height: 40px;
    border-radius: 6px;
    padding: 6px;
    align-items: center;
  }
  .f_name .into input {
    width: 88%;
  }

  .email .into {
    margin-top: 10px;
  }
  /* ____________jamal end sign up Page________________ */
  .ingr_ctnr {
    width: 80%;
  }
  .ingr_plat{
    height:170px;
  }
  .ingr_plat img{
    height:100%;
    width: 90%;
  }
  .h3_ing{
    display:flex; 
    flex-direction:column;

  }
  }

/* ____________________jamal end page INGREDIENTS  */

/* ____________jamal end sign in Page________________ */

/*-------------------------------------------------*/

header {
  background: url(./images/Groupe-25.svg), url(./images/Groupe-27.svg),
    url(./images/Objects.svg), url(./images/Ellipse.svg);
  background-repeat: no-repeat;
  background-size: 29%, 34%, 3%, 2%;
  background-position: top left, bottom left, 45% 18%, 94% 92%;
}

/*______________________________*/

.navbar-home-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.navbar-home-login .logo h2 {
  display: none;
}
.navbar-home-login a {
  text-decoration: none;
  font-size: 3vmax;
  text-transform: capitalize;
  color: var(--black-color);

  margin-right: 3rem;
}
.navbar-home-login a:hover {
  color: var(--green-color);
}

.section-header {
  height: 36rem;
  position: relative;
}
.section-home {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*______________________________*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  color: var(--withe-color);
  padding: 0.5rem 3rem;
}
.navbar a {
  color: var(--withe-color);
  text-transform: uppercase;
  font-size: 1.5vmax;
}


.navbar > .logo > h2 > a{
  display: block;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.navbar > .logo > h2 > a> span {
  color: var(--green-color);
}
.navbar .menu-wrap .menu > div > .list-2 > ul > li > span {
  font-size: 1.5vmax;
  font-weight: 400;
  color: var(--withe-color);
  text-transform: uppercase;
}
.navbar .menu-wrap .menu > div > .list-2 > ul > li > p {
  color: var(--withe-color);
  border: 2px solid;
  border-radius: 100%;
  padding: 1.5rem 1rem;
  display: block;
  font-size: 12px;
}

.navbar .menu-wrap .menu-check {
  display: none;
}
.navbar .menu-wrap .menu > div {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.navbar .menu-wrap .menu > div > div > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar .menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--green-color);
}
.navbar .menu-wrap .menu > div > .list-2 > ul {
  gap: 1rem !important;
  align-items: center;
}


.navbar .menu-wrap .menu > div > div > ul > li > a::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--black-color);
  border-radius: 25px;
  bottom: -5px;
  left: 0;
  transition: width 0.6s;
  position: absolute;
}
.navbar .menu-wrap .menu > div > div > ul > li > a:hover::before {
  width: 100%;
}

/* ------------------home page ----------------- */
.navbar-ce {
  background: none ;
  padding: 1rem 0;
  justify-content: space-around;
}
  .navbar-ce > .logo > h2 {
  display: none ;
 }
  .navbar-ce a{
   color: var(--black-color) ;
   position: relative;
 }
 .navbar-ce .menu-wrap .menu > div > .list-2 > ul > li > span {
  color: var(--black-color);
}
.navbar-ce .menu-wrap .menu > div > .list-2 > ul > li > p {
  display: none;
}

 

/* ----------------------end home page -------------- */

/* -----------------end navbar----------------- */

#home {
  color: var(--black-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-bottom: 1.5rem;
}

#home > .section-one {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
#home > .section-one > h2 {
  font-size: 4vmax;
  font-weight: 100;
}
#home > .section-one > h1 {
  font-size: 10vmax;
  letter-spacing: 7px;
  font-weight: 500;
}
#home > .section-one > h1 > span {
  color: var(--green-color);
}
#home > .section-one > p {
  text-transform: uppercase;
  font-size: 1vmax;
}
#home > .section-one > a {
  text-transform: capitalize;
  font-weight: 700;
  width: 10.5rem;
  padding: 20px;
  background: url(./images/BG.svg) no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  color: var(--withe-color);
  cursor: pointer;
  font-size: 15pt;
  text-align: center;
}
#home > .section-two > img {
  width: 35vw;
}
.container-h {
  display: flex;
  flex-direction: column;
}
.container-h > .item-one {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}
.container-h > .item-one > .item-one-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-h > .item-one > .item-one-one > img {
  width: 18rem;
  padding: 0.5rem 2rem;
}
.container-h > .item-one > .item-one-one > p {
  width: 15rem;
  text-align: center;
  padding: 1.5rem 0rem;
  font-size: 20px;
}

.container-h > .item-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 2rem 0;
}
.container-h > .item-two > h2 {
  font-size: 3rem;
}
.container-h > .item-two > img {
  width: 70vw;
}

.container-h > .item-three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 6rem;
  text-align: center;
}
.container-h > .item-three > .para-one {
  padding: 4rem 5rem;
  color: var(--withe-color);
  background: var(--green-color);
  width: 37vw;
  height: 55vh;
}
.container-h > .item-three > .para-one > h2 {
  padding: 0 2rem 2rem;
  font-weight: 200;
}
.container-h > .item-three > .para-one > p {
  font-weight: 100;
  width: 20vw;
  margin: 0 auto;
}
.container-h > .item-three > .para-one:last-child {
  background: var(--black-color);
}

.container-h > .item-four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 98vw;
}
.container-h > .item-four > .semi-item {
  width: 29%;
  height: 649px;
  background: url(./images/blogimg1.png) top center / 100% no-repeat;
  margin-bottom: 15px;
  border-radius: 8px;
}
.container-h > .item-four > .semi-item:nth-child(2) {
  background: url(./images/blogimg2.png) top center / 100% no-repeat;
  background-size: 100%;
  position: relative;
  top: 6rem;
}
.container-h > .item-four > .semi-item:nth-child(3) {
  background: url(./images/blogimg3.png) top center / 100% no-repeat;
  background-size: 100%;
  position: relative;
  top: 12rem;
}
.container-h > .item-four > .semi-item > h2{
  text-align: center;
  color: var(--withe-color);
  padding-top: 1rem;
}
.container-h > .item-five {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
}
.container-h > .item-five > h2 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.container-h > .item-five > h2 > span {
  color: var(--green-color);
}
.container-h > .item-five > p {
  font-size: 1.5rem;
}
.ex-footer{
  margin-top: 14rem;
}
.hr-header{
  width: 100% !important;
  border: none;
  border-top: 10px solid var(--green-color);
  
}

@media screen and (max-width: 768px) {
  header {
    background: none;
  }
  .hr-header {
    display: none;
  }
  /*_____________________________________*/

  .navbar-home-login {
    background: var(--black-color);
  }
  .navbar-home-login a {
    color: var(--withe-color);
    margin: 0;
  }
  .navbar-home-login .logo h2 {
    display: block;
    font-size: 28px;
    color: var(--withe-color);
    letter-spacing: 3px;
  }
  .navbar-home-login .logo h2 span {
    color: var(--green-color);
  }

  .section-home {
    position: static;
  }
  /*_____________________________________*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: var(--black-color);
    padding: 1rem;
  }

  .navbar a {
    color: var(--withe-color);
    font-size: 1rem;
  }
  .navbar .logo h2 {
    display: block;
    font-size: 28px;
    color: var(--withe-color);
    letter-spacing: 3px;
  }
  .navbar .logo h2 span {
    color: var(--green-color);
  }
  .navbar .menu-wrap .menu > div > div > ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .navbar .menu-wrap .menu > div > .list-2 > ul > li > span {
    font-size: 2.5vmax;
    color: var(--withe-color);
  }
  .navbar .menu-wrap .menu > div > .list-2 > ul > li > p {
    display: block;
    color: var(--withe-color);
    border: 2px solid;
    border-radius: 100%;
    padding: 1.5rem 1rem;
    display: block;
    font-size: 12px;
  }

  /* humberger menu*/
  .navbar .menu-wrap .menu-check {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
  }

  .navbar .menu-wrap .hamburger {
    position: absolute;
    top: 12px;
    right: 2px;
    width: 54px;
    height: 45px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  .navbar .menu-wrap .hamburger > div{
    background-color: var(--withe-color);
    width: 100%;
    height: 3px;
    position: relative;
  }

  .navbar .menu-wrap .hamburger > div:before,
  .navbar .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--withe-color);
    top: -10px;
  }
  .navbar .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /*end menu*/

  .navbar .menu-wrap .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  .navbar .menu-wrap .menu > div {
    background: var(--black-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .navbar .menu-wrap .menu > div > div {
    text-align: center;
    opacity: 0;
  }

  .navbar .menu-wrap .menu > div > div > ul > li > ul > li {
    padding: 10px 0;
  }

  /* Show Menu */
  .navbar .menu-wrap .menu-check:checked ~ .menu {
    visibility: visible;
  }
  .navbar .menu-wrap .menu-check:checked ~ .menu > div > div {
    opacity: 1;
  }

  

  /*----------------------------*/

  #home {
    flex-direction: column-reverse;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  #home > .section-two {
    position: relative;
    bottom: 0;
    left: 0;
  }
  #home > .section-two > img {
    width: 60vw;
  }
  #home > .section-one {
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  #home > .section-one > h2 {
    font-size: 8vw;
  }
  #home > .section-one > h1 {
    font-size: 21vw;
  }
  #home > .section-one > P {
    font-size: 3vw;
  }

  #home > .section-one > button {
    margin: 0;
    width: 51vw;
    padding: 6vw;
    font-size: 5vw;
  }

  .container-h > .item-three {
    padding: 0;
}
  .container-h > .item-three > .para-one {
    padding: 2rem 0rem;
    width: 65vw;
    height: 53vw;
  }
  .container-h > .item-three > .para-one > p {
    width: 90%;
    font-size: 0.85rem;
  }
  .container-h > .item-four {
    flex-direction: column;
    
  }
  .container-h > .item-four > .semi-item {
    width: 70%;
   }
   .container-h > .item-four > .semi-item {
    width: 58%;
    height: 500px;
  }
  .container-h > .item-four > .semi-item:nth-child(2) {
    position: static;
    
  }
  .container-h > .item-four > .semi-item:nth-child(3) {
    position: static;
  }
  .ex-footer {
    margin-top: 0;
}
}
/* -------------------------------
   ------------------------------- */
.all-plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;

  background-image: url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg);
  background-repeat: no-repeat;
  background-size: 2rem, 0.9rem;
  background-position:  90% 14%, 75% 2%, 68% 31%, 95% 34%, 12% 28%, 
                        12% 49%, 97% 55%, 80% 46%, 85% 67%, 95% 73%,
                        12% 63%, 29% 81%, 90% 98%, 6% 97%, 67% 82%,
                        12% 12%;
}
.all-plats > .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.all-plats > .title > h1 {
  text-transform: capitalize;
  color: var(--green-color);
  font-weight: 100;
  font-size: 35pt;
}
.all-plats > .title > p {
  width: 19.5rem;
  text-align: center;
  background-image: url(./images/Tracé\ 32.svg), url(./images/Tracé\ 31.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 0%;
  background-size: 3rem;
  padding: 0.8rem 3rem;
}
.all-plats > .day-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.all-plats > .day-1 > p {
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 3px;
}
.all-plats > .day-1 > .plat {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.all-plats > .day-1 > .plat > a > img {
  width: 35vw;
  border: 2px solid var(--green-color);
  border-radius: 8px;
}


.all-plats > button, 
.message button {
  font-size: 1.8rem;
  padding: 0.6rem 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
  color: var(--withe-color);
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #028f26;
}

#home > .section-one > button {
    margin: 0;
}

@media screen and (max-width: 768px) {
  header {
    background: none;
  }

  /*----------------------------------------------------*/
  .all-plats > .day-1 > .plat {
    flex-direction: column;
    gap: 2rem;
  }
  .all-plats > .day-1 > .plat > img {
    width: 65vw;
  }
  .all-plats > .day-1 {
    position: relative;
  }
  .all-plats > .day-1::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: -42px;
    background: var(--green-color);
  }
}

footer {
  padding: 1rem;
  color: #fff;
  background: var(--black-color);
  margin-top: 4rem;
}
footer > .footre-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
footer > .footre-a > h2 > a {
  display: block;
  font-size: 30px;
  color: var(--withe-color);
  letter-spacing: 3px;
  text-decoration: none;
}
footer > .footre-a > h2 > a > span {
  color: var(--green-color);
}
footer > .footre-a > .media {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
footer > .footre-a > .footre-p > p {
  font-size: 11px;
  font-weight: 100;
}
footer > .footre-a > .footre-p > p > a {
  color: var(--withe-color);
  text-decoration: none;
}
footer > .footre-a > .footre-p > p span {
  color: blue;
}
/* ------------Your plats start-------------- */
.headerYR{
    background: url(./images/Groupe\ défilant\ 2.svg);
    background-size: cover;
    height: 13vw;
    display: flex;
    align-items: center;
}
.headerTitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.bonAppetit h2{
    transform: rotate(-20deg);
    text-decoration: underline;
    font-family: 'Segoe Script', sans-serif;
    font-size: 2.4vw;
    
}
.welcome h2, .bonAppetit h2{
    color: var(--green-color); 
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: 3px; 
}
.welcome h3{
  font-size: 3vw;
}

.titlePage{
    text-align: center;
    padding: 20px 0 40px;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage h1{ 
    background: url(./images/Ellipse.svg), url(./images/Ellipse.svg);
    background-size: 2vw;
    background-repeat: no-repeat;
    background-position: 0% 100%,99% 0%;
    padding: 10px;
    letter-spacing: 5px; 
}
.titlePage h3{
    color: var(--green-color);
}
.plats{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.plats h2{
    font-weight: 100;
    font-size: 38px;
}
.line{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.part{
    max-width: 45%;
}
.box{
    border: solid 1.5px var(--green-color);
    border-color: var(--green-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}
.box .plats{
    width: 100%;
    border-bottom: solid 1.5px var(--green-color);   
}
.feedback{
    padding: 14px 20px 16px;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}
.feedback a{
    color: var(--green-color);
}
.feedback .fiveStars{
    width: 30%;
}
/* ------------Your plats end-------------- */
@media (max-width:768px){
  .titlePage{
    font-size: 5vw;
  }
  .titlePage h1 {
    background-size: 3vw;
  }
  .line{
        justify-content: center;
    }
    .part{
        max-width: 90%;
    }
    .plats h2 {
        font-weight: 100;
        font-size: 25px;
    } 
    .all-plats > .day-1 > .plat > a > img {
      width: 71vw;
     }
     /* ----------------responsive formulaire---------------- */
     .formulaire > .title {
      flex-direction: column;
      padding: 2rem 1rem !important;
    }
    .formulaire > form > .two > .two-a > input,
    .formulaire > form > .two > .two-a > input#date {
      width: 100% !important;
  }
  .formulaire > form > .three > .three-a > .three-b, 
  .formulaire > form > .three > .three-a > .three-d {
    flex-direction: column;
    width: 100%;
  }
  .formulaire > form > .one > .one-a > input[type="text"], 
  .formulaire > form > .one > .one-a > .check, 
  .formulaire > form > .three > .three-a > .three-b > input[type="text"], 
  .formulaire > form > .three > .three-a > .three-d > input[type="text"],
  .formulaire > form > .two > .two-a > input#date, 
  .formulaire > form > .four > .four-a input#quantity, 
  .formulaire > form > .four > .four-a select#categ  {
    width: 100% !important;
  }

}

/* --------------------------------formulaire------------------ */

.formulaire {
  display: flex;
  flex-direction: column;
  background-image: url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg),
                    url(./images/Objects.svg),
                    url(./images/Ellipse.svg);
                    
background-repeat: no-repeat;
background-size: 2rem, 0.9rem;
background-position:  84% 8%, 46% 16%, 63% 86%, 84% 34%, 3% 33%, 
                      19% 56%, 95% 55%, 84% 97%, 85% 67%, 95% 73%,
                      12% 63%, 29% 82%;
}
.formulaire label {
  padding: 8px 0 0;
}
.formulaire > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  position: relative;
  background: var(--form-color);
}
.formulaire > .title > p {
  font-weight: 100;
  font-size: 2rem;
}
.formulaire > .title span {
  color: var(--green-color);
}
.formulaire > .title > .txt-exe {
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  font-size: 1rem;
}

.formulaire > form > .one,
.formulaire > form > .two,
.formulaire > form > .three,
.formulaire > form > .four {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  position: relative;
}
.formulaire > form > .one::after,
.formulaire > form > .two::after,
.formulaire > form > .three::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--form-color);

}
.formulaire > form > .one > .one-a,
.formulaire > form > .two > .two-a,
.formulaire > form > .three > .three-a,
.formulaire > form > .four > .four-a {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  gap: 10px;
}
.formulaire > form > .one > .one-a > input[type="text"],
.formulaire > form > .one > .one-a > .check,
.formulaire > form > .three > .three-a > .three-b > input[type="text"],
.formulaire > form > .three > .three-a > .three-d > input[type="text"] {
  height: 2.5rem;
  border: 2px solid var(--green-color);
  border-radius: 5px;
  text-transform: capitalize;
  padding: 1rem;
  outline: none;
}
.formulaire > form > .one > .one-a > .check {
  height: 6rem;
  resize: none;
}
.formulaire > form > .two > .two-a > input {
  border: 2px solid var(--green-color);
  border-radius: 5px;
  width: 35vw;
  padding: 0.5rem;
}
.formulaire > form > .two > .two-a > input#date,
.formulaire > form > .four > .four-a input#quantity,
.formulaire > form > .four > .four-a select#categ {    
  width: 35vw;
  border: 2px solid var(--green-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.formulaire > form > .three {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}
.formulaire > form > .three > .three-a > .three-b,
.formulaire > form > .three > .three-a > .three-d {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}


.formulaire > form > .three > .three-a > .three-b > input[type="text"],
.formulaire > form > .three > .three-a > .three-d > input[type="text"]  {
  width: 37vw;
}

.add {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}
.add > input[type="button"] {
  padding: 0.4rem 3rem;
  font-size: 15pt;
  font-weight: 900;
  border: 2px solid var(--green-color);
  border-radius: 5px;
  outline: none;
  background: var(--green-color);
}
/* --------------------------Feedbacks start------------------------- */
.feedbacksMain{
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
.feedbacksMain .leftSide{
  display: flex;
  flex-direction: column;
  gap:35px;
}
.leftSide img{
  width: 100%;
}
.personnalFeedback{
  display: flex;
  justify-content: space-between;
  border: solid 2px;
  border-color: var(--green-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}
.personnalFeedback .imgAndNote, .message{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.imgAndNote{
  padding: 30px 20px 5px;
}
.imgRate, .message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 100;
}
.imgRate img{
  height: 73.5%;
}
.note5img{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: var(--gray-color);
}
.fiveImg, .noteRate{
  width: 20vh;
}
.noteRate h2{
  font-size: 15vh;
  font-weight: 200;
  height: 16vh;

}
.noteRate h6{
  font-size: 2.5vh !important;
  font-weight: 100;
}
.message{
  font-size: 2vw !important;
}
.yourComment{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.yourComment textarea{
 border-radius: 5px;
 border: solid;
 resize: none;
 padding: 13px;
 font-size: 1.1vw;
 width: 100%;
 height: 75%;
}
.message img{
  width: 50%;
}
.comments{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.comments .comment{
  border: solid 2px;
  border-radius: 5px;
  border-color: var(--gray-color);
  padding: 15px;
}
.comment{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment .rateInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.comment .appInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64%;
}
.comment .appName h5{
  font-weight: 100;
  font-size: 1.5vw;
  letter-spacing: 7px;
}
.comment .appTag h6{
  color: var(--green-color);
  font-weight: 100;
  font-size: 1.3vw;
}
.comment .rateInfo img{
  width: 24%;
}
.comment .rateMessage{
  color: #848484;
  font-size: 1.5vw;
  padding-left: 8px;
}
.rightSide{
  border: solid 2px;
  border-radius: 5px;
  border-color: var(--green-color);
  height: 80%;
}
.recentFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 80vh;
  overflow-y: scroll;
}
.rightSide  ::-webkit-scrollbar{
  width: 0;
}
.rightSide h3{
  text-align: center;
  background-color: var(--green-color);
  color: var(--withe-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
  padding: 10px 0;
  font-size: 29px;
}
.rightSide .comment{
  width: 94%;
  gap: 10px;
}
.rightSide .rateInfo{
  flex-direction: column;
  align-items: flex-start;
}
.rightSide .rateInfo img{
  width: 60%;
}
.rightSide .appInfo{
  width:100%;
}
hr{
  width: 95%;
  border: none;
  border-top: 2px solid var(--green-color);
}
@media (max-width:768px){
  .feedbacksMain{
    flex-wrap: wrap;
  }
  .personnalFeedback{
    flex-direction: column; 
    gap: 10px;
    font-weight: 100;
  }
  .leftSide .imgAndNote{
    padding: 10px 20px 0;
  }
  .imgRate{
    font-size: 7vw !important;
  }
  .leftSide .message{
   gap: 35px;
   padding: 20px 0;
   font-size: 3.9vw !important;
  }
  .yourComment textarea{
    width: 80%;
    height: 20vh;
    /* margin: 0 auto; */
  }
  .comment .rateInfo{
    width: 100%;
  }
  .comment .appName h5{
    font-size: 3.5vw;
  }
  .comment .appTag h6{
    font-size: 2.5vw;
  }
  .comment p{
    font-size: 3.5vW;
  }
  .rightSide{
    width: 100%;
  }
  .recentFeed{
    height: 40vh;
  }
  .rightSide .rateInfo img {
    width: 24%;
  }
}

.signin-container{
  width: 80%;
  height:80%;
  margin: 20px auto 0;
  border-radius:10px;
  border: 2px solid var(--green-color);
  display: flex;
  background-color: transparent;
}

.signin-leftside{
  background-image: url(./images/fffff.png);
  background-size: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 100;
  margin-right: 5px;
  position: relative;
}
.form-cntainr{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 20px;
}
.signin-rightside{
  width: 100%;
  padding-left: 20px;
  background-color: transparent;
}
.wlc{
  position: absolute;
  top: 40%;
  left: 6%;
  text-align: center;
}
.wlc h1{
  font-size: 50px;
}

.form-cntainr form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-cntainr form .sign-email{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-cntainr form .sign-email label{
  font-size: 20px;
  color: var(--black-color);
}

.form-cntainr form .sign-email input[type="email"],
.form-cntainr form .sign-email input[type="password"]{
  border: none;
  border-bottom: 2px solid var(--green-color);
  padding: 10px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.form-cntainr form .sign-email input:focus{
  outline: none;
  transform: translateY(4px);
}
input[type="checkbox"]:focus{
  transform: translateY(0) !important;
}

.rmember-me{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.rmember-me label{
  font-size: 14px !important;
  margin-left: 6px;
}
.sign-email a{
  font-size: 14px;
  color: var(--green-color);
  text-decoration: underline;
}
.signin-submit a{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: var(--withe-color);
    background-color: var(--black-color);
    border: none;
    border-radius: 8px;
}

.signin-submit{
  display: flex;
  justify-content: center;
}

@media (max-width:650px){
  .signin-leftside{
    display: none;
  }
}
